@font-face {
  font-family: "SFProDisplay";
  font-weight: 400;
  src: url("../fonts/SFProDisplay-Regular.woff2"),
  url("../fonts/SFProDisplay-Regular.woff"),
  url("../fonts/SFProDisplay-Regular.ttf");
}
